<br>
<br>
<div class="container">
  <div class="main-body">
    <!-- /Breadcrumb -->
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
              <div class="mt-3">
                <h4> {{client.username}} </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Full Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{client.firstName}} {{client.lastName}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{client.email}}
              </div>
            </div>
            <hr>
            <div class="d-grid gap-2">
              <a class="btn btn-success " (click)='updateClient(client)'>Actualizar</a>
              <a class="btn btn-success " (click)='deleteClient(client)'>Eliminar cuenta</a>
              <a class="btn btn-success " (click)='return()'>Atrás</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

