<br>
<br>
<div class="container">
    <div class="main-body">
          <!-- /Breadcrumb -->
          <div class="row gutters-sm">
            <div class="col-md-4 mb-4">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="../assets/logoreducido2.png" alt="Admin" width="260">
                    <br>
                    <h2>Nutricare</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success" (click)='profile()'>
                        Perfil
                    </button>
                    <button type="submit" class="btn btn-success" (click)='appointments()'>
                        Asesorías
                    </button>
                    <button type="submit" class="btn btn-success" (click)='appointmentsHistory()'>
                        Historial de asesorías
                    </button>
                    <button type="submit" class="btn btn-success" (click)='listRecipes()'>
                        Recetas
                    </button>
                    <button type="submit" class="btn btn-success" (click)='listRecommendations()'>
                        Recomendaciones
                    </button>
                    <button type="submit" class="btn btn-success" (click)='paymentMethods()'>
                        Métodos de pago
                    </button>
                    <button type="submit" class="btn btn-success" (click)='billing()'>
                        Pagos realizados
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>