<br/>
<form class="text-center border border-light p-5 col-lg-6 offset-lg-3" (ngSubmit)="insertClient()">

  <p class="h4 mb-4">Sign up</p>

  <input type="hidden" id="ClientId" name="ClientId"
         required [(ngModel)]="client.id">

  <input type="text" class="form-control" id="username"
         name= "username" placeholder="Username"
         required [(ngModel)]="client.username" />
  <br>

  <input type="text" class="form-control" id="password"
         name= "password" placeholder="Password"
         required [(ngModel)]="client.password" />

  <br>

  <input type="text" class="form-control" id="firstName"
         name= "firstName" placeholder="FirstName"
         required [(ngModel)]="client.firstName" />

  <br>

  <input type="text" class="form-control" id="lastName"
         name= "lastName" placeholder="LastName"
         required [(ngModel)]="client.lastName" />

  <br>

  <input type="text" class="form-control" id="email"
         name= "email" placeholder="Email"
         required [(ngModel)]="client.email" />

  <br>

  <button type="submit" class="btn btn-success">
    Registrarse
  </button>

</form>
